
header {
    background-color: #ffffff; 
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0 auto; 
}

.login-form {
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.login-form h2 { margin-bottom: 10px; }


input {
    width: 100%;
    padding: 15px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
}