* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

header {
    background-color: transparent;
    position: absolute;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #007bff;
    font-size: 1.8rem;
    font-weight: 900;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-btn {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    padding: 10px 25px;
    background: white;
    transition: all 0.4s ease;
}

.nav-btn {

    border-bottom: 2px solid transparent;
    transition: all 0.3s ease; 
}

.nav-btn:hover {
    
    cursor: pointer;
    border-bottom: 2px solid #007bff;
}

.main-container {
    display: flex;
    height: 100vh;
}

.presentacion {
    flex: 1;
    background-color: #0a192f;
    color: white;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentacion h2 {
    color: #007bff;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-weight: 900;
}

.presentacion h1 {
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 30px;
    font-weight: 900;
}

.login-form {
    flex: 1;
    padding: 80px;
    background-color: #f9fdfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 40px;
}

label {
    font-weight: 900;
    color: #333;
    font-size: 0.85rem;
}

input {
    padding: 18px;
    border: 2px solid #eee;
    border-radius: 12px;
    font-size: 1rem;
}

button {
    padding: 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3);
}


button:hover {
    padding: 20px;
    background: #012e5e;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(144, 194, 249, 0.3);
}


.logo {
    cursor: pointer;
}
.registro {
    cursor: pointer;
    text-decoration: none;  
    color: #007bff;        
    font-weight: bold;
}
.card-resolver-clean {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; 
  margin-top: 30px;
}

.card-img {
  width: 180px; 
  height: auto;
  
}

.btn-resolver {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white; 
  color: rgb(0, 0, 0);
  border: none;
  padding: 12px 25px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.btn-resolver:hover {
  background-color: #012e5e;
  color: white;
  transform: scale(1.05);
}

.btn-resolver:active {
  transform: scale(0.95);
}

.footer-text a {
    cursor: pointer;
    color: #007bff;     
    text-decoration: none;
}


.footer-text {
    margin-top: 50px;
    color: #666;
    font-size: 0.9rem;
}